.image{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}
.logos{
    max-height: 80px;
    width: auto;
}
.logos--height-70{
    max-height: 70px;
}
.rows--align-center{
    align-items: center;
}
.section-bg-color-gray{
    background-color: #C0C0C0;
}
.section-bg-color-gray-light{
    background-color: 	#D3D3D3;
}
.section-bg-color-purple{
    background-color:#572364;
}
.line-color{
    color: #325c91;
    border: solid;
}
.icons{
    font-size: 50px;
}
.lista{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.link--color-black{
    color: black;
}
.link--color-purple{
    color: #572364;
}
.link--color-blue{
    color: #325c91 !important;
}
.text--align{
    text-align: center;
}
.text--color-blue{
    color: #325c91;
}
h1, h4, p, li{
    font-family: 'Roboto', sans-serif;
}
p, li{
    text-align: justify;
}
.li--align-center{
    text-align: center;
}

/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@media (max-width: 960px){
    .text--align-media{
        text-align: center;
    }
    .section-bg-color-gray-light-media{
        background-color: 	#D3D3D3;
    }
    .logos--height-200{
        max-height: 200px;
    }
    .logos--height-175{
        max-height: 175px;
    }
}
